In [1]:
import sqlite3
conn = sqlite3.connect('academy_awards.db')
query1 = 'select * from ceremonies limit 10;'
ceremonies = conn.execute(query1).fetchall()
ceremonies

[(0, 2000, 'Billy Crystal'),
 (1, 2001, 'Steve Martin'),
 (2, 2002, 'Whoopi Goldberg'),
 (3, 2003, 'Steve Martin'),
 (4, 2004, 'Billy Crystal'),
 (5, 2005, 'Chris Rock'),
 (6, 2006, 'Jon Stewart'),
 (7, 2007, 'Ellen DeGeneres'),
 (8, 2008, 'Jon Stewart'),
 (9, 2009, 'Hugh Jackman')]

In [3]:
query2 = 'select * from nominations limit 2;'
nominations = conn.execute(query2).fetchall()
nominations

[(1, 10, 'Actor -- Leading Role', 'Javier Bardem', 'Biutiful', 'Uxbal', 0),
 (2,
  10,
  'Actor -- Leading Role',
  'Jeff Bridges',
  'True Grit',
  'Rooster Cogburn',
  0)]

In [4]:
query = 'select ceremonies.year, nominations.movie from ceremonies inner join nominations on nominations.ceremony_id == ceremonies.id where nominee = "Natalie Portman";'
portman_movies = conn.execute(query).fetchall()
print(portman_movies)

[(2010, 'Black Swan'), (2004, 'Closer')]

In [6]:
nom_2_query = "create table nominations_two(id integer PRIMARY KEY,category text, nominee text, movie text, character text, won integer, ceremony_id REFERENCES ceremonies(id));"
conn.execute(nom_2_query)